<style>
.hover {
    color:black;
    font-weight:bold;
}
</style>

<div class="row">
    <button type="button" class="btn btn-primary">Primary</button>
    <div class="col-xs-6 col-lg-4">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th><span>Name</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="shop in vm.geom track by shop.id"
                    ng-class="{'hover':$index == vm.hoverRow}"
                    ng-mouseover="vm.do_mouseover(event, $index)"
                    ng-mouseleave="vm.do_mouseleave(event, $index)"
                    >
                    <td>{{shop.name}}</td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-lg-8">
        <div id="map-container" class="z-depth-1" style="height:600px">

            <ng-map zoom="11" center="[13.7248946,100.4930257]" style="height:600px;">
            <!--<div ng-repeat="shop in vm.geom">
                <marker position="{{shop.lat}}, {{shop.lon}}"
                        markers=color:red animation="{{shop.animation}}" >
                </marker>
            </div>-->
            <info-window id="foo" >
                <div ng-non-bindable="">
                    <div id="bodyContent">
                        {{vm.shop.name}}
                    </div>
                </div>
            </info-window>

            <div ng-repeat="shop in vm.geom">
                <marker id="{{$index}}" position="{{shop.lat}}, {{shop.lon}}"
                        markers=color:red animation="{{shop.animation}}"
                        on-mouseover="vm.showInfo(event, $index)"
                >
                </marker>

            </div>


        </ng-map>

        </div>

    </div>
</div>
