<div>
    <h2>Shops</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="shop.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Shop
                    </span>
                </button>
            </div>
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="shop.findNearBy" >
                    <span class="glyphicon glyphicon-search"></span>
                    <span >
                        Find Shop near by KM
                    </span>
                </button>
            </div>

        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Latitude</span></th>
                    <th><span>Longitude</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shop in vm.shops track by shop.id">
                    <td><a ui-sref="shop-detail({id:shop.id})">{{shop.id}}</a></td>
                    <td>{{shop.name}}</td>
                    <td>{{shop.location.coordinates[0]}}</td>
                    <td>{{shop.location.coordinates[1]}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="shop-detail({id:shop.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop.edit({id:shop.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop.delete({id:shop.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shop.findNearBy({id:shop.location})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-search"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div>
        <ng-map zoom="11" center="[13.7248946,100.4930257]">
            <div ng-repeat="shop in vm.shops track by shop.id">
                <marker position="{{shop.location.coordinates[0]}}, {{shop.location.coordinates[1]}}"
                        markers=color:red>
                </marker>
            </div>

        </ng-map>

    </div>

</div>
